@font-face {
  font-family: 'Dakota';
  src: url("dakota_regular-webfont.eot");
  src: url("dakota_regular-webfont.eot?#iefix") format("embedded-opentype"), url("dakota_regular-webfont.ttf") format("truetype"), url("dakota_regular-webfont.woff") format("woff"), url("dakota_regular-webfont.svg#DakotaRegular") format("svg");
  font-style: normal;
  font-weight: normal;
}
