@media only screen and (min-width: 1024px) and (max-width: 1220px) {
	body.boxed #wrapper { width: 1012px; }
	.container { width: 972px !important; }
	/*#slider-home { margin-top: 141px; }
	.fullwidthbanner { height: 450px !important; }*/
	.post-item .post-meta span { padding: 10px 10px 10px 34px; }
	.post-items.ver-1 .post-container { max-height: 147px; }
	.bxslider.portfolio-items > li { width: 225px !important; }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	body.boxed #wrapper { width: 766px !important; }
	.container { width: 750px !important; }

	#page-title { padding-top: 232px; }

	.post-items.ver-1 .post-container { max-height: 170px; }
	.bxslider.portfolio-items > li { width: 237px !important; }

	.bxslider.clients li { width: 169px !important; }

	.service-item { width: 50% !important; margin-bottom: 25px !important; }
	.services { margin-bottom: 0px !important; }
	.services .column { width: 50% !important; }
	.services .service-item { width: 100% !important; }

	/*.recent-posts .post-image { float: none; margin: 0 0 15px 0; display: block; }
	.recent-posts .post-image img { min-width: 100%; }*/

	.recent-posts .post-image { display: none; }

	.pricing-table-container .column { width: 50% !important; margin-bottom: 25px; }

	.widget.contact-us input[type="text"], .widget.contact-us textarea { width: 49.15%; }	
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	body.boxed #wrapper { width: 470px !important; }
	.container { width: 440px !important; }

	.bxslider.clients li { width: 130px !important; }

	.children { margin-left: 20px; }
	.comment-reply { margin-left: 0; }

	.widget.contact-us input[type="text"], .widget.contact-us textarea { width: 48.7%; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.container { width: 320px !important; }

	#top-bar .info img { display: none; }
	#top-bar .info { padding-left: 13px; }

	.error-page { font-size: 170px; }
	.error-page span { font-size: 36px; }

	.children { margin-left: 0; }
	.comment-reply { margin-left: 0; }

	.contact-form input[type="text"], .contact-form textarea, .contact-form.comment input[type="text"] { /*float: left !important;*/ margin-left: 0 !important; margin-bottom: 15px !important; width: 100% !important; }
	.contact-form input[type="submit"]{top: 305px!important;}
}

@media only screen and (max-width: 1023px) {
	#logo { float: none !important; text-align: center !important; margin-bottom: 10px !important; }
	#logo a { display: inline-block !important; }

	#nav { clear: both ; float: none !important; margin-right: 0 !important; margin-left: 77px !important; }

	.sf-menu li ul { padding-top: 0px !important; }
	
	#slider-home { margin-top: 203px !important; }
	.tp-rightarrow, .tp-leftarrow { top: 50% !important; margin-top: -30px !important; }

	#main { width: 100% !important; }
	#sidebar { width: 100% !important; clear: both; }

	#footer .widget { width: 100% !important; clear: both; }
}

@media only screen and (max-width: 767px) {
	#breadcrumbs { clear: both; float: left; margin-top: 20px; }

	#slider-home { margin-top: 190px !important; }

	.tp-bullets .bullet { width: 50px; }

	#back-to-top { margin-bottom: 50px; }

	#page-title { padding-top: 232px; }

	.alignleft, .alignright { float: none; }
	img.alignleft, img.alignright { margin-left: 0; margin-right: 0; }

	.post-items.ver-1 .post-image { margin-bottom: 25px; }

	/* Main Menu */
	#nav { margin-left: 0 !important; margin-right: 0 !important; }
	#nav > ul { display: none !important; }
	#nav select { display: block !important; padding: 7px; margin-top: 15px; outline: none; border: 1px solid #333; width: 100%; }

	
	/* The Grid --- */
	/* row { width: auto; min-width: 0; margin-left: 0; margin-right: 0; }*/
	.column, .columns { float: none; width: 100% !important; margin-bottom: 25px; }
	.column:last-child, .columns:last-child { float: none; }
	[class*="column"] + [class*="column"]:last-child { float: none; }
	.column:before, .columns:before, .column:after, .columns:after { content: ""; display: table; }
	.column:after, .columns:after { clear: both; }
	.offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten { margin-left: 0 !important; }
	.push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten { left: auto; }
	.pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten { right: auto; }
}